<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>University</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSignupServlet</display-name>
    <servlet-name>StudentSignupServlet</servlet-name>
    <servlet-class>StudentSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSignupServlet</servlet-name>
    <url-pattern>/StudentSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorLoginServlet</display-name>
    <servlet-name>ProfessorLoginServlet</servlet-name>
    <servlet-class>ProfessorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorLoginServlet</servlet-name>
    <url-pattern>/ProfessorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorSignupServlet</display-name>
    <servlet-name>ProfessorSignupServlet</servlet-name>
    <servlet-class>ProfessorSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorSignupServlet</servlet-name>
    <url-pattern>/ProfessorSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorProfileServlet</display-name>
    <servlet-name>ProfessorProfileServlet</servlet-name>
    <servlet-class>Professor.ProfessorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorProfileServlet</servlet-name>
    <url-pattern>/ProfessorProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentProfileServlet</display-name>
    <servlet-name>StudentProfileServlet</servlet-name>
    <servlet-class>Student.StudentProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentProfileServlet</servlet-name>
    <url-pattern>/StudentProfileServlet</url-pattern>
  </servlet-mapping>
  </web-app>